*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  html, body {
        position: relative;
        height: 100%;
      }
  nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
  }

.leftNav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.midNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.rightNav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 138%;
    color: #fa3b3b;
}


  .logo{
    background-image: url(logo/logo.modified.jpg);
    width: 19%;
    height: 60%;
    background-position: center;
    background-size: cover;
  }

  .listItems{
    display: flex;
    align-items: center;
    width: 76%;
    justify-content: space-between;
    list-style: none;
  }

.items a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
  .items a:hover{
    color: #e21616;
    transition: 0.3s ease ;
    font-size: 100%;
    font-size: 125%;
    cursor: pointer;
  }

  #menu{
      display: none;
    }

    #close{
      display: none;
    }

    .firstSec{
    height: 100vh;
    display: flow-root;
    }


    .outer{
    border: 10px solid red;
    width: 80vw;
    margin: auto;
    margin-top: 2%;
    height: 95%;
    border-radius: 33px;
    }

    .photo{
    border: 2px solid red;
    width: 22%;
    margin: auto;
    margin-top: 3%;
    height: 31%;
    border-radius: 16px;
    }

    #pics{
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    .info{
   border: 2px solid red;
   height: 63%;
    }

    .outer h1{
    text-align: center;
    margin-top: 2%;
    text-decoration: underline;
    }

     .outer p{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: #6d6b6b;
    }

    .outer h3{
    text-align: center;
    margin-top: 7%;
    text-decoration: underline;
    }

    .downloadOption{
        width: 90%;
        margin-top: 5%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #googlePlay{
       background-image: url(store/play.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

      #AppStore{
       background-image: url(store/appStore.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

        footer{
        height: 45vh;
        background-color: #280b0b;
        display: flex;
       }

       .footerBox{
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
       }

      .footerLogo{
        display: flex;
       justify-content: center;
       align-items: center;
      }
       
      .footerLogo img{
        width: 40%;
      }

      .footerH1{
        font-size: 145%;
      }

      .footerItems li a{
        color: white;
      }

      .copyright{
        border-top: 1px solid wheat;
        height: 5%;
       background-color: #280b0b;
       display: flex;
       align-items: center;
       justify-content: center;
       color: wheat;
       flex-direction: column;

      }
    @media (max-width:800px){
      

      body{
        overflow-x: hidden;
        width: 100vw;
      }

       #close{
      display:block;
       font-size: 242%;
       width: 84%;
       text-align: end;
    }

      #menu{
       display: inline-block;
        font-size: 213%;
        margin: 4%;
        margin-right: 11%;
        display: flex;
        align-items: center;
      }


    .listItems{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 231px;
        top: 0;
        border-radius: 28px;
      }

      

     .download{
      font-size: 70%;
     }
     
      .logo{
        width: 55%;
      }

      .right img{
        width: 60%;
        margin-right: 14%;
        margin-top: -28px;
      }

      

      nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
      }

      .logo{
          width: 78%;
          height: 71%;
      }

     .stone{
       font-size: 67%;
     }

     .stTwo{
       font-size: 67%;
     }

     .stThree{
      font-size: 67%;
     }

     


      .photo{
        width: 66%;
      }

       footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 43%;
    }

    .downloadOption{
      display: flex;
      flex-direction: column;
    }

    #googlePlay{
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    #AppStore{
      width: 100%;
      margin-top: 2%;
      background-size: cover;
      background-position: center;
    }

    .copyright{
    border-top: 1px solid wheat;
    height: 5%;
    background-color: #280b0b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    flex-direction: column;
    font-size: 50%;
    }

    

    }

    @media(min-width:600px) and (max-width:800px)
    {
       #menu{
       display: inline-block;
       font-size: 242%;
       margin: 2% 8%;
      }

      #close{
      display: inline-block;
       font-size: 242%;
       margin: 4%;
    }      

         .listItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 377px;
        top: 0;
        border-radius: 28px;
      }

      .logo{
       width: 41%;
      }

    .details{
        height: 6%;
        font-size: 95%;
    }
      

       footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 66%;
    }

     .downloadOption{
      display: flex;
      flex-direction: column;
      height: 27%;
    }

    
   

    }


 @media(min-width:768px) and (max-width:1040px)
   {

      .footerBox {
    width: 20%;
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 146%;
}

   .outer p {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: #6d6b6b;
    font-size: 147%;
}
}

@media(min-width:790px) and (max-width:1040px)
{
    .photo{
    border: 2px solid red;
    width: 55%;
    margin: auto;
    margin-top: 3%;
    height: 31%;
    border-radius: 16px;
    }


      .footerBox {
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 117%;
    }
}
    
