*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  html, body {
        position: relative;
        height: 100%;
      }
  nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
  }

.leftNav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.midNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.rightNav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 138%;
    color: #fa3b3b;
}


  .logo{
    background-image: url(logo/logo.modified.jpg);
    width: 19%;
    height: 60%;
    background-position: center;
    background-size: cover;
  }

  .listItems{
    display: flex;
    align-items: center;
    width: 76%;
    justify-content: space-between;
    list-style: none;
  }

.items a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
  .items a:hover{
    color: #e21616;
    transition: 0.3s ease ;
    font-size: 100%;
    font-size: 125%;
    cursor: pointer;
  }

  .findUs{
    text-decoration: 4px solid red underline;

  }

  .download{
    display: flex;
    align-items: center;
    color: red;
    width: 12%;
    cursor: pointer;
  }



  #head{
    text-align: center;
    font-size: 277%;
    color: red;
    box-shadow: 1px 3px 15px;
    width: 30%;
    margin: auto;
    margin-top: 6%;
  }

  .map{
    outline: 1px solid;
    height: 51%;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    border-radius: 21px;
  }

  #menu{
      display: none;
    }

  #close{
      display: none;
    }

  #location{
    width: 100%;
    height: 100%;
    border-radius: 19px;
    box-shadow: 1px 3px 13px red;
    }

    .firstSec{
     height: 160vh;
    }