*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  html, body {
        position: relative;
        height: 100%;
        background-color: #f5ecee;;
      }
  nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
  }

.leftNav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.midNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.rightNav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 138%;
    color: #fa3b3b;
}


  .logo{
    background-image: url(logo/logo.modified.jpg);
    width: 19%;
    height: 60%;
    background-position: center;
    background-size: cover;
  }

  .listItems{
    display: flex;
    align-items: center;
    width: 76%;
    justify-content: space-between;
    list-style: none;
  }

.items a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
  .items a:hover{
    color: #e21616;
    transition: 0.3s ease ;
    font-size: 100%;
    font-size: 125%;
    cursor: pointer;
  }

  .menu{
    text-decoration: 4px solid red underline;
  }

  .firstSec{
   height: 36%;
   margin-top: 2%;
  }

  .verticalScroll{
     height: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
  }

  .childBox{
    border: 2px solid red;
    min-width: 273px;
    height: 93%;
    margin: 0% 2%;
    box-shadow: 1px -3px 39px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    cursor: pointer;
  }

  .secondSec{
    height: 385%;
    background: white;
    margin-top: 6%;
    width: 85%;
    margin: auto;
    margin-top: 6%;
    border-radius: 20px;
    display: flow-root;
  }



  .box{
    
    height: 8.5%;
    width: 85%;
    margin: auto;
    margin-bottom: 3%;
    box-shadow: 1px 15px 20px red;
    border-radius: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .one{
    margin-top: 4%;
  }

   .pic{
    border-bottom: 4px solid red;
    width: 24%;
    height: 79%;
    margin-left: 2%;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

  .pic img{
    width: 70%;
    border-radius: 14px;
  }

 .details{
    height: 79%;
    width: 60%;
    border-radius: 14px;
    margin-left: 1%;
 }

 #name{
    color: #da7878;
    font-size: 240%;
 }

 #description{
    color: gray;
    font-size: 121%;
 }

 #price{
    color: green;
    font-size: 163%;
    margin-top: 7%;
 }

 #category{
    color: gray;
 }

 #type{
     color: gray;
 }


 .childPic{
    border-bottom: 4px solid #ed8181;;
    height: 64%;
    width: 71%;
    border-radius: 14px;
 }

 .childDetail{
    width: 71%;
    height: 21%;
    text-align: center;
 }

 .childDetail h1{
    font-size: 118%;
    margin-top: 3%;
    color: #ed8181;
 }

 .childPic{
   display: flex;
    align-items: center;
    justify-content: center;
 }

 .childPic img{
    width: 68%;
    border-radius: 14px;
 }

   .downloadOption{
        width: 90%;
        margin-top: 5%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    #googlePlay{
       background-image: url(store/play.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

      #AppStore{
       background-image: url(store/appStore.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

        footer{
        height: 45vh;
        background-color: #280b0b;
        display: flex;
        margin-top: 7%;
       }

       .footerBox{
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
       }

      .footerLogo{
        display: flex;
       justify-content: center;
       align-items: center;
      }
       
      .footerLogo img{
        width: 40%;
      }

      .footerH1{
        font-size: 145%;
      }

      .footerItems li a{
        color: white;
      }

      .copyright{
        border-top: 1px solid wheat;
        height: 5%;
       background-color: #280b0b;
       display: flex;
       align-items: center;
       justify-content: center;
       color: wheat;
       flex-direction: column;

      }

      #menu{
       display: none;
      
      }

      #close{
      display: none;
      
    }      

      @media (max-width:800px){
      

      body{
        overflow-x: hidden;
        width: 100vw;
      }

       #close{
      display:block;
       font-size: 242%;
       width: 84%;
       text-align: end;
    }

      #menu{
       display: inline-block;
        font-size: 213%;
        margin: 4%;
        margin-right: 11%;
        display: flex;
        align-items: center;
      }


    .listItems{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 231px;
        top: 0;
        border-radius: 28px;
      }

      

     .download{
      font-size: 70%;
     }
     
      .logo{
        width: 55%;
      }

      .right img{
        width: 60%;
        margin-right: 14%;
        margin-top: -28px;
      }

      .firstSec {
      height: 36%;
      margin-top: 2%;
      }

      .childBox {
    border: 2px solid red;
    min-width: 178px;
    height: 63%;
    margin: 0% 2%;
    box-shadow: 1px -3px 39px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    cursor: pointer;
  }
   
    .childPic img {
    width: 70%;
    border-radius: 14px;
  }

  .childDetail h1 {
    font-size: 95%;
    margin-top: 3%;
    color: #ed8181;
  }

  .secondSec {
    height: 338%;
    background: white;
    margin-top: 6%;
    width: 92%;
    margin: auto;
    margin-top: 6%;
    border-radius: 20px;
    display: flow-root;
}

   .box {
    height: 7.8%;
    width: 100%;
    margin: auto;
    margin-bottom: 14%;
    box-shadow: 1px 15px 20px red;
    border-radius: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
  #name {
    color: #da7878;
    font-size: 141%;
}

#description {
    color: gray;
    font-size: 92%;
}

#price {
    color: green;
    font-size: 119%;
    margin-top: 7%;
}

#category {
    color: gray;
    font-size: 82%;
}

#type {
    color: gray;
    font-size: 85%;
}


       footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 43%;
    }

    .downloadOption{
      display: flex;
      flex-direction: column;
    }

    #googlePlay{
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    #AppStore{
      width: 100%;
      margin-top: 2%;
      background-size: cover;
      background-position: center;
    }

    .copyright{
    border-top: 1px solid wheat;
    height: 5%;
    background-color: #280b0b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    flex-direction: column;
    font-size: 50%;
    }
    }
    @media(min-width:600px) and (max-width:800px)
    {
       #menu{
       display: inline-block;
       font-size: 242%;
       margin: 2% 8%;
      }

      #close{
      display: inline-block;
       font-size: 242%;
       margin: 4%;
    }      

         .listItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 377px;
        top: 0;
        border-radius: 28px;
      }

      .logo{
       width: 41%;
      }
      

       footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 66%;
    }

     .downloadOption{
      display: flex;
      flex-direction: column;
      height: 27%;
    }
   
    }

    @media(min-width:768px) and (max-width:1040px)
   {

      .footerBox {
    width: 20%;
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 146%;
}
   }

   @media(min-width:790px) and (max-width:1040px)
{
   nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
      }

        .footerBox {
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 117%;
    }
  }

  @media(min-width:355px) and (max-width:379px)
    {
       .firstSec {
      height: 36%;
      margin-top: 2%;
      }

      .childBox {
    border: 2px solid red;
    min-width: 178px;
   height: 82%;
    margin: 0% 2%;
    box-shadow: 1px -3px 39px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    cursor: pointer;
  }
   
    .childPic img {
    width: 70%;
    border-radius: 14px;
  }

  .childDetail h1 {
    font-size: 95%;
    margin-top: 3%;
    color: #ed8181;
  }

  .secondSec {
    height: 338%;
    background: white;
    margin-top: 6%;
    width: 92%;
    margin: auto;
    margin-top: 6%;
    border-radius: 20px;
    display: flow-root;
}

   .box {
    height: 8.8%;
    width: 100%;
    margin: auto;
    margin-bottom: 14%;
    box-shadow: 1px 15px 20px red;
    border-radius: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
  #name {
    color: #da7878;
    font-size: 141%;
}

#description {
    color: gray;
    font-size: 92%;
}

#price {
    color: green;
    font-size: 119%;
    margin-top: 7%;
}

#category {
    color: gray;
    font-size: 82%;
}

#type {
    color: gray;
    font-size: 85%;
}

    }