*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  html, body {
        position: relative;
        height: 100%;
      }
  nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
  }

.leftNav{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.midNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.rightNav{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 138%;
    color: #fa3b3b;
}


  .logo{
    background-image: url(logo/logo.modified.jpg);
    width: 19%;
    height: 60%;
    background-position: center;
    background-size: cover;
  }

  .listItems{
    display: flex;
    align-items: center;
    width: 76%;
    justify-content: space-between;
    list-style: none;
  }

.items a{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
  .items a:hover{
    color: #e21616;
    transition: 0.3s ease ;
    font-size: 100%;
    font-size: 125%;
    cursor: pointer;
  }

  .firstSec{
    height: 134vh;
  }

  .outerBox{
    width: 100%;
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: space-around;
  }

  .product-pic{
    width: 40%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 14px;
  }

  #main-img{
   width: 96%;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 14px;
  }
 

  .rightDetail{
    width: 53%;
    height: 83%;
    border: 2px solid darkorange;
    border-radius: 14px;
    border-left: transparent;
    border-right:transparent ;
  }

  #img{
    width: 75%;
    font-size: 139%;
    height: 80%;
  }

  .rightDetail p{
    margin-bottom: 0.5%;
    width: 73%;
  }

  #r{
    margin-top: 7%;
    font-size: 160%;
  }

  #I{
    font-size: 161%;
    color: grey;
  }

  #D{
    font-size: 173%;
    color: #c86666;
  }

  #P{
    margin-top: 15%;
    color: green;
    font-size: 188%;
  }

  #C{
   font-size: 131%;
    color: grey;
  }

  #T{
   color: grey;
  }

  .buy{
   position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 17%;
    border: 2px solid red;
    box-shadow: -15px -14px 59px red;
    align-items: center;
    overflow: visible;
  }

  

  #cart{
    width: 20%;
    height: 59%;
    border-radius: 14px;
    color: #f24545;
    font-size: 108%;
    cursor: pointer;
  }

  #cart:hover{
    width: 20%;
    height: 59%;
    border-radius: 14px;
    color: #f24545;
    font-size: 108%;
    border: 4px solid red;
    cursor: pointer;
  }

  #buy{
    width: 20%;
    height: 59%;
    border-radius: 14px;
    color: white;
    background-color: #f24545;
    cursor: pointer;
  }

   #buy:hover{
    width: 20%;
    height: 59%;
    border-radius: 14px;
    color: white;
    background-color: #f24545;
    border: 4px solid black;
    cursor: pointer;
  }

  .secondSec{
   height: 124vh;
   display: flex;
   flex-direction: column;
  }

  .first{
    height: 30%;
    margin-top: 14%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
  }

  .box1{
    height: 100%;
    width: 20%;
    border-radius: 14px;
    box-shadow: 1px 3px 15px red;
  }

  .margin-top{
    margin-top: 5%;
  }


  .downloadOption{
        width: 90%;
        margin-top: 5%;
        height: 17%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      #googlePlay{
       background-image: url(store/play.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

      #AppStore{
       background-image: url(store/appStore.jpg);
       background-size: cover;
       height: 80%;
       width: 48%;
      }

        footer{
        height: 45vh;
        background-color: #280b0b;
        display: flex;
       }

       .footerBox{
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
       }

      .footerLogo{
        display: flex;
       justify-content: center;
       align-items: center;
      }
       
      .footerLogo img{
        width: 40%;
      }

      .footerH1{
        font-size: 145%;
      }

      .footerItems li a{
        color: white;
      }

      .copyright{
        border-top: 1px solid wheat;
        height: 5%;
       background-color: #280b0b;
       display: flex;
       align-items: center;
       justify-content: center;
       color: wheat;
       flex-direction: column;

      }

      #menu{
       display: none;
      
      }

      #close{
      display: none;
      
    }      


       @media (max-width:800px){
      

      body{
        overflow-x: hidden;
        width: 100vw;
      }

       #close{
      display:block;
       font-size: 242%;
       width: 84%;
       text-align: end;
    }

      #menu{
       display: inline-block;
        font-size: 213%;
        margin: 4%;
        margin-right: 11%;
        display: flex;
        align-items: center;
      }


    .listItems{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 231px;
        top: 0;
        border-radius: 28px;
      }

      

     .download{
      font-size: 70%;
     }
     
      .logo{
        width: 55%;
      }

      .right img{
        width: 60%;
        margin-right: 14%;
        margin-top: -28px;
      }


      .product-pic{
    width: 86%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 14px;
    margin-top: 6%;
    }

    .outerBox {
    width: 100%;
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    }


      .rightDetail {
    width: 90%;
    height: 83%;
    border-radius: 14px;
    border: 1px solid white;
   
      }

      #I {
    font-size: 120%;
    color: grey;
}

      #D {
    font-size: 80%;
    color: #c86666;
    margin-top: 2%;
}

      nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
      }

      .logo{
          width: 78%;
          height: 71%;
      }
     footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 43%;
    }

    .downloadOption{
      display: flex;
      flex-direction: column;
    }

    #googlePlay{
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    #AppStore{
      width: 100%;
      margin-top: 2%;
      background-size: cover;
      background-position: center;
    }

    .copyright{
    border-top: 1px solid wheat;
    height: 5%;
    background-color: #280b0b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    flex-direction: column;
    font-size: 50%;
    }

    .buy {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 12%;
    border: 2px solid red;
    box-shadow: -15px -14px 59px red;
    align-items: center;
    overflow: visible;
}

   #cart {
    width: 30%;
    height: 59%;
    border-radius: 14px;
    color: #f24545;
    font-size: 108%;
    cursor: pointer;
}

    #cart:active{
    width: 30%;
    height: 59%;
    border-radius: 14px;
    color: #f24545;
    font-size: 108%;
    border: 4px solid red;
    cursor: pointer;
}

 #cart:hover{
    width: 30%;
    height: 59%;
    border-radius: 14px;
    color: #f24545;
    font-size: 108%;
    border: 4px solid red;
    cursor: pointer;
}

   #buy {
      width: 30%;
      height: 59%;
      border-radius: 14px;
      color: white;
      background-color: #f24545;
      cursor: pointer;
  }

  #buy:active{
      width: 30%;
      height: 59%;
      border-radius: 14px;
      color: white;
      background-color: #f24545;
      cursor: pointer;
  }

  #buy:hover{
      width: 30%;
      height: 59%;
      border-radius: 14px;
      color: white;
      background-color: #f24545;
      cursor: pointer;
  }
     .secondSec {
    height: 82vh;
    display: flex;
    flex-direction: column;
}

.first {
    height: 30%;
    margin-top: 14%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 41%;
    overflow-x: auto;
    overflow-y: hidden;
}
  .box1 {
    height: 95%;
    width: 20%;
    border-radius: 14px;
    box-shadow: 1px 3px 15px red;
    display: inline-block;
    min-width: 187px;
    margin: 0% 3%;
}
  

  
   .firstMargin-top {
    margin-top: 10%;
    }

  }
@media(min-width:600px) and (max-width:800px)
    {
       #menu{
       display: inline-block;
       font-size: 242%;
       margin: 2% 8%;
      }

      #close{
      display: inline-block;
       font-size: 242%;
       margin: 4%;
    }      

         .listItems {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f29090e0;
        height: 384px;
        position: fixed;
        left: -378px;
        width: 377px;
        top: 0;
        border-radius: 28px;
      }

      .logo{
       width: 41%;
      }

    .details{
        height: 6%;
        font-size: 95%;
    }
      

       footer{
      height: 29vh;
      background-color: #280b0b;
      display: flex;
      font-size: 66%;
    }

     .downloadOption{
      display: flex;
      flex-direction: column;
      height: 27%;
    }

    
   

    }

@media(min-width:768px) and (max-width:1040px)
   {

      .footerBox {
    width: 20%;
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 146%;
}


    #I {
        font-size: 203%;
        color: grey;
    }

    #D {
        font-size: 174%;
        color: #c86666;
        margin-top: 2%;
    }

    .midDetail{
      font-size: 153%;
    }
   .outer p {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    color: #6d6b6b;
    font-size: 147%;
}
}


@media(min-width:790px) and (max-width:1040px)
{
    .photo{
    border: 2px solid red;
    width: 55%;
    margin: auto;
    margin-top: 3%;
    height: 31%;
    border-radius: 16px;
    }

    
      .product-pic{
    width: 86%;
    height: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 14px;
    margin-top: 6%;
    }

    .outerBox {
    width: 100%;
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    }


      .rightDetail {
    width: 90%;
    height: 83%;
    border-radius: 14px;
    border: 1px solid white;
   
      }

    #I {
        font-size: 203%;
        color: grey;
    }

    #D {
        font-size: 174%;
        color: #c86666;
        margin-top: 2%;
    }

    .midDetail{
      font-size: 153%;
    }

      .buy {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    border: 2px solid red;
    box-shadow: -15px -14px 59px red;
    align-items: center;
    overflow: visible;
}

    .first {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 169px;
    overflow-x: auto;
    overflow-y: hidden;
}

  
    .box1 {
    height: 100%;
    width: 20%;
    border-radius: 14px;
    box-shadow: 1px 3px 15px red;
    min-width: 310px;
    margin: 0% 7%;
}

      nav{
    background-color: white;
    display: flex;
    height: 71px;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 2;
    box-shadow: 1px 3px 47px;
      }

    

      .footerBox {
        width: 20%;
        display: flex;
        height: 85%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 117%;
    }
}
    
